*{
    margin: 0;
    padding: 10;
}
body{
    background-color:#4aaaa5;
}

#name{
    background:#4aaaa5;
    color:#ffffff;
    font-family: "Georgia", Times, Times New Roman, serif;
    float:left;
}

.links{
    float: right;
    list-style: none;
    
}

.links li a{
    color:#777777;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    padding: 5px 20px;
    font-size:15 px;
}

.links li a:hover{
    border: 1px solid #777777;
}

.links li{
    display:inline-block;
}

.row{
    background-color:#ffffff;
    border-color:#cccccc;
    height: 50px;
}


.info{
    color:#777777;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}


#placeholder{
    float:left;
}

#about{
    color:#4aaaa5;
    font-family: "Georgia", Times, Times New Roman, serif;
    clear:both;
    overflow: auto;
}

footer{
    background:#666666;
    clear:both;
}

.trying{
    background:#ffffff;
    border-color:#dddddd;
    height: 300px;
}