*{
    margin: 10;
    padding: 10;
}
body{
    background-color:#4aaaa5;
}

header{
    background-color:#ffffff;
    border-color:#cccccc;
}

#name{
    background:#4aaaa5;
    color:#ffffff;
    font-family: "Georgia", Times, Times New Roman, serif;
    float:left;
}

.links{
    float: right;
    list-style: none;
}

.links li a{
    color:#777777;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    padding: 5px 20px;
    font-size:15 px;
}

.links li a:hover{
    border: 1px solid black;
}

.links li{
    display:inline-block;
}

.row{
    max-width: 1200px;
    margin:auto;
}

body{
    background:#ffffff;
    border-color:#dddddd;
}

.info{
    color:#777777;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    float: left;
}


#placeholder{
    float:left;
}

#about{
    color:#4aaaa5;
    font-family: "Georgia", Times, Times New Roman, serif;
    clear:both;
}

footer{
    background:#666666;
    clear:both;
}